---
import RootLayout from '../layouts/RootLayout.astro';
import { toISOString } from '../utils/date';

interface Frontmatter {
  title: string;
  date: string;
}

const posts = await Astro.glob<Frontmatter>('./blog/*.md');
---

<RootLayout>
  <ul class='w-[60%] bg-'>
    {
      posts.map((post) => (
        <li class='rounded-2xl bg-[#222222a0] p-3 px-6'>
          <a href={post.url}>
            <div class='flex flex-col'>
              <span class='text-[1.85rem] text-darkwhite'>
                {post.frontmatter.title}
              </span>
              <span class='text-[0.75rem] text-darkwhite justify-end'>
                <time datetime={new Date(post.frontmatter.date).toDateString()}>
                  {toISOString(new Date(post.frontmatter.date))}
                </time>
              </span>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</RootLayout>
