---
import { HeroSection } from '../components/HeroSection';
import SkillCard from '../components/SkillCard.astro';
import WorkCard from '../components/WorkCard.astro';
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>earlgray's portfolio</title>
  </head>
  <body class='animate-text-focus-in-1000'>
    <main>
      <div class='h-screen flex justify-center'>
        <div class='flex flex-col items-center p-4 pt-40'>
          <img class='rounded-full h-[12rem] my-2' src='/profile.png' />
          <p class='text-white font-mono text-3xl'>earlgray</p>
          <div class='flex items-start my-1'>
            <a
              href='https://github.com/earlgray283'
              target='_blank'
              class='mx-2'
            >
              <img src='/github.svg' class='w-[1.4rem] h-[1.4rem]' />
            </a>
            <a
              href='https://twitter.com/earlgray329'
              target='_blank'
              class='mx-2'
            >
              <img src='/twitter.svg' class='w-6 h-6' />
            </a>
          </div>
          <ul class='text-white text-xs mt-6 table'>
            <li class='table-row'>
              <b class='table-cell pr-1'>所属</b>: 静岡大学情報学部情報科学科
            </li>
            <li class='table-row'>
              <b class='table-cell pr-1'>学年</b>: B3
            </li>
            <li class='table-row'>
              <b class='table-cell pr-1'>研究室</b>: 大木研究室(セキュリティ)
            </li>
            <li class='table-row'>
              <b class='table-cell pr-1'>興味</b>: Web 開発, 競技プログラミング
            </li>
          </ul>
        </div>
      </div>

      <div class='h-screen'>
        <div class='px-10 pt-40 sm:px-28'>
          <h1 class='text-3xl'>Experience</h1>
          <div class='ml-4 mt-2'>
            <ol
              class='border-l-2 relative border-gray-200 dark:border-gray-700'
            >
              <WorkCard
                title='(Part-time job) Development Assistant at Kurusugawa Computer, Ltd.'
                since={new Date('2020-07-27')}
              />
              <WorkCard
                title='(Oursourcing) Software Engineer at Knightso LLC'
                since={new Date('2022-04-01')}
              />
              <WorkCard
                title='(Internship) Backend Engineer at Mirrativ Inc.'
                since={new Date('2022-10-17')}
                until={new Date('2022-12-16')}
                articleURL='https://tech.mirrativ.stream/entry/2022/12/15/100000'
              />
            </ol>
          </div>
        </div>
      </div>

      <div class='h-screen'>
        <div class='px-10 pt-40 sm:px-28'>
          <h1 class='text-3xl'>Skills</h1>
          <div class='ml-4 mt-2'>
            <ol>
              <SkillCard
                name='Go'
                since={new Date('2019-12-01')}
                usecases={['Web backend']}
              />
              <SkillCard
                name='Rust'
                since={new Date('2020-04-14')}
                usecases={['Web backend', 'Competitive programming']}
              />
              <SkillCard
                name='React.js'
                since={new Date('2021-04-01')}
                usecases={['Web frontend']}
              />
              <SkillCard
                name='Astro.js'
                since={new Date('2023-02-24')}
                usecases={['Web frontend']}
                summary='This portfolio is made with this.'
              />
            </ol>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>

<style is:global>
  body {
    background-color: #222222f0;
  }

  h1 {
    color: #99b7dc;
  }
</style>
